body {
    background: #000;
    color: #FFFFFF;
    font-size: 100%;
    font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 1.125em
}


a {
	color: #ff0000;
	text-decoration: none;
    display: inline-block;	
}

a:visited {
    color: #ff0000;
}

a:hover {
    color: 	#666666;
}

a:active {
    color: #ff0000;
}

.body {
    clear: both;
    margin: 0 auto;
    width: 670px;
}

.menu {
	padding: 25px 6px;
    font-size: 8pt;
    font-weight: bold;
    text-align: center;
}

.logo {
    color: White;
    border: 1px solid #F26522;
    background-color: #000000;
}


pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    font-size: 8pt;
}

article.heading {
    padding-top: 1em;
    padding-bottom: 0.2em;
    margin-bottom: 1em;
    font-size: 8pt;
    border-bottom: 1px dashed;
}

article.paragraph {
    padding: 0;
    font-size: 9pt;
    color: #FFF;
    line-height: 1.5em;
}

article.paragraph p {
    color: #FFF;
    font-size: 8pt;
}

article.paragraph h5 {
    color: #cc6600;
    font-weight: bold;
}


#container{
         width: 670px;
         margin: 0 auto;
         padding: 0;
}

#menu {
	text-align: center;
	color: #707070;
}


