body {
    background: #000;
    color: #FFFFFF;
    font-size: 100%;
    /*font-family: "Source Code Pro", Consolas, Monaco , monospace;*/
    /*font-family: Verdana, Arial, Helvetica, sans-serif;*/
    font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 1.125em
}

h1 {
    font-size: 1.251em
}

h2 {
    font-size: 1.271em
}

h3 {
    font-size: 1.429em
}

h4 {
    font-size: 1.286em
}

h5 {
    font-size: 1.143em
}

h6 {
    font-size: 1em
}

h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: .8em
}

p {
    margin-bottom: 1.143em;
    font-size: 0.75em
}

* p:last-child {
    margin-bottom: 0
}

strong, b {
    font-weight: bold
}

.body {
    clear: both;
    margin: 0 auto;
    width: 670px;
}

.menu {
    font-size: 8pt;
    font-weight: bold;
}

.logo {
    color: White;
    border: 1px solid #F26522;
    background-color: #000000;
}

.cursor {
    font-size: 12pt;
    animation-duration: 400ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    font-size: 8pt;
}
